# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# IDEs
/.vscode/

# * volatile sources
# . cached sources
src/integrations/github/graphql/schema.json
/.i
# . generated sources
src/integrations/graphql/*.ts
src/content/previews/**/*