# * opinions
/.vscode/

# * cached sources
node_modules/
src/integrations/github/graphql/schema.json
/.i

# * generated sources
.astro/
src/integrations/graphql/*.ts
src/content/previews/**/*

# * output
dist/
