:root {
  color: var(--color);
  background-color: var(--background-color);
}


@media (prefers-color-scheme: light) {
  :root {
    --color: #111213;
    --color-interactive: #008069;
    --color-active: #C99800;
    --paper-color: #DDDEDF;
    --background-shadow-color: #878889;
    --background-color: #BABBBC;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #BABBBC;
    --color-interactive: #FCD000;
    --color-active: #0DFC00;
    --info-color: #A0CFB8;
    --warn-color: #CFB8A0;
    --paper-color: #323334;
    --background-shadow-color: #010203;
    --background-color: #212223;
  }
}
